.flex-container {
  display: flex;
  min-height: 100vh;
  background-color: #C4C4C4;
  background-image: url('../images/laundry.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  min-width: 100vh;
}

.component-four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.design {
  font-family: 'Red Hat Display';
  font-style: normal;
  margin-top: 2vh;
  margin-left: 5vw;
  font-weight: 500;
  font-size: 2vw;
  line-height: 1.5;
  text-transform: uppercase;
  color: #010101;
}

.user-friendly-app {
  font-family: 'Rubik';
  font-style: normal;
  margin-top: 1vh;
  margin-left: 5vw;
  font-weight: 700;
  font-size: 3vw;
  line-height: 1.5;
  text-transform: capitalize;
  color: #010101;
}

.lorem-ipsum {
  font-family: 'Red Hat Display';
  font-style: normal;
  margin-top: 1vh;
  margin-left: 5vw;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  text-transform: capitalize;
  color: #010101;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5vh;
  margin-right: 5vw;
  margin-left: 5vw;
}

.appstore-button,
.playstore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  height: 3vw;
  margin-left: 0vw;
  background-color: #ffffff;
  color: #000000;
  font-size: 1vw;
  cursor: pointer;
  margin-right: 2vw;
  border-radius: 5px; /* Add this line to make the buttons rounded */
}

.appstore-button img,
.playstore-button img {
  width: 1vw; /* Adjust the width as needed */
  height: 1vw; /* Adjust the height as needed */
}

.group-image {
  display: none;
}