.flex-container {
  display: flex;
  min-height: 100vh;
  background-color: #C4C4C4;
  background-image: url('../images/laundry.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.component-four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0%;
}

.design {
  font-family: 'Red Hat Display';
  font-style: normal;
  margin-top: 5%;
  margin-left: 10%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #010101;
}

.user-friendly-app {
  font-family: 'Rubik';
  font-style: normal;
  margin-top: 1%;
  margin-left: 10%;
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  text-transform: capitalize;
  color: #010101;
}

.lorem-ipsum {
  font-family: 'Red Hat Display';
  font-style: normal;
  margin-top: 5%;
  margin-left: 10%;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: capitalize;
  color: #010101;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-right: 170px;
}

.appstore-button,
.playstore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  border: none;
  height: 45px;
  width: 150px;
  margin-left: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 80%;
  cursor: pointer;
  border-radius: 5%;
}

.group-image {
  display: none;
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .flex-container {
    background-image: url('../images/Group.png');
    background-size: 100%;
    position: relative;
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  /* .component-four {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0%;
  } */

  .design {
    font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
    text-align: left;
  }

  .user-friendly-app {
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
  }

  .lorem-ipsum {
    font-size: 12px;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
  }
  .button-container {
    display: none;
  }
}

  /* .group-image {
    display: block;
    margin-top: 10%;
    width: 100%;
    height: auto;
  } */
