.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 10px;
  padding:0%;
}

.overlay-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0%;

}

.rounded-rectangle {
  width: 1000px;
  height: 150px;
  background-color: #1E3661;
  border-radius: 5px;
  position: relative;
  
}

.heading {
  color: white;
  position: absolute;
  font-size: xx-large;
  left: 20px; /* Adjust this value as needed */
  top: 20px; /* Adjust this value as needed */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  margin-right: 150px;
}

.appstore-button,
.playstore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px; 
  border-radius: 5px; /* Add this line to make the buttons rounded */
}










@media (max-width: 600px) {
  .rounded-rectangle {
    max-width: 550px;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
    height: 160px;
    background-image: url('../images/mobileRRBg.png'); /* Add this line to set the background image */

  }
    
  }

  .heading {
    color: white;
    position: absolute;
    font-size: larger;
    left: 20px; /* Adjust this value as needed */
    top: 20px; /* Adjust this value as needed */
  }
  
  .button-container {
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 150px;
  }

  .appstore-button,
.playstore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  margin-right: 30px; 
  border-radius: 5px; /* Add this line to make the buttons rounded */
}