.box {
  position: relative;
  padding: 20px;
  color: white;
}

.feature-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
}

.text {
  font-size: 14px;
  margin-right: 5px;
}

.icon {
  display: inline-block;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  background-color: #0CAE74;
}

.carousel-indicators .active {
  background-color: #6759FF;
}
